# vscode
.vscode 

# npm
node_modules

# Don't include the compiled main.js.original file in the repo.
# This will be uploaded to GitHub releases instead.
# main.js.original

# Exclude sourcemaps
*.map

# Ignore local build script
scripts/build-local.sh

# Release lock file
.release.lock

# Web site
web/

# Obsidian
.obsidian
release-notes.md